@mixin imagenFondo($opacity, $foto) {
    $url: "../img/#{$foto}.jpg";
    background-image:linear-gradient(rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity)), url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.grilla{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.imagenFondo-index{
    @include imagenFondo(0.3, hero4);
}

.imagenFondo-destinos{
    @include imagenFondo(0.3, hero3);
}

.imagenFondo-contacto{
    @include imagenFondo(0.5, contacthero);
}

.imagenFondo-nosotros{
    @include imagenFondo(0.5, aboutus);
}

.imagenFondo-faq{
    @include imagenFondo(0.5, faq);
}