@use 'mixinsglobales';

.prueba{
    padding: 50px 60px 50px;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo1 {
    color: #ffffff;
    font-size: 250px;
    padding-left: 6rem;
    padding-top: 3rem;
}

.containerAbout{
    color: white;      
}

@media screen and (max-width: 966px) {
    .logo1{
        padding-left: 0;
    } 
}

@media screen and (max-width: 768px) {
    .logo1{
        display: none;
    }
}