@import 'nav.scss';
@import 'fondo.scss';
@import 'maincontent.scss';
@import 'footer.scss';
@import 'carouseldestinos.scss';
@import 'contactform.scss';
@import 'sobrenosotros.scss';
@import 'mixinsglobales.scss';
@import 'faq.scss';

*{
    margin: 0;
    padding: 0;
}

body {
	background: #222;
	font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: rgb(37, 35, 35);
}

header{
    border-bottom: 1px solid white;
}

button{
    @include boton(black, #ddd);
}

.containerAbout{
    button{
        @include boton(black, #ddd);
    }
}
